@import url("https://fonts.googleapis.com/css?family=Fresca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Fresca;
}

.ql-editor {
  min-height: 300px !important;
  font-family: Fresca;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}
